

  <div class="header">
    <h1 class="pageTitle">All Items Available at {{user.school}}:</h1>
  </div>

  <p id="items-error" class="error-left" {{#if search_error}}{{else}}hidden{{/if}}> {{search_error}}</p>
  <form id="items_search_form" action="/items/search" method="POST">
    <label for="item_search">Search for Items: </label>
    <input type="text" placeholder="Search items" name="item_search" id="item_search" />
  </form>


  {{#if items}}
    <div class="item_list">
      {{#each items}}
        <div class="item">
          <h3>{{this.name}}</h3>
          <p>Owner: {{this.ownerName}}</p>
          <p>Available: {{#if this.currentRequest}}No{{else}}Yes{{/if}}</p>
          <p>Description: {{this.description}}</p>
          <a class = 'pageButton' href = '/request/item/{{this._id}}'>Request</a>
          <a class = 'pageButton' href = '/item/{{this._id}}'>Read More</a>
        </div>
      {{/each}}
    </div>
  {{else}}
    {{#if search_error}}
      <a class="pageButton" href = '/items'>Back to All Items</a>
    {{else}}
      <p>No items owned by other students were found at your school :(</p>
    {{/if}}
  {{/if}}
  <script src="/public/js/items_validate.js"></script>
