
<div class="currentItemHeader">
    <h1>{{itemInfo.name}}</h1>
</div>
{{!Other Stuff <br>}}
<div class="currentItemContainer">
<div class="currentItem">
<p>Owner: {{ownerName}}</p>
<p>Description: {{itemInfo.description}}</p>

  {{#if owner}}
    <form action="/item/edit/{{itemInfo._id}}" method="GET">
         <button type="submit" class="currentItemButtons">Edit Item</button>
                </form>
                <br>
<form action="/item/{{itemInfo._id}}/remove" method="POST">
                    <button type="submit" class="currentItemButtons">Delete Item</button>
                </form>
        <br>
{{else}}
    <a class = 'currentItemButtons' href = '/request/item/{{itemInfo._id}}'>Request</a>
    {{#if inWL}}
      <p>This item is on your wishlist!</p>
    {{else}}
    <form action="/item/wishlist/{{itemInfo._id}}" method="POST">
      <button type="submit" class="currentItemButtons">Add to Wishlist</button>
    </form>
    {{/if}}
{{/if}}  

<p>History:</p>
<div class="comments">
  <ul>
    {{#if itemInfo.history}}
      {{#each itemInfo.history}}
      <li>{{this.Date}}: {{this.borrowerName}}</li>
      {{/each}}
      {{else}}
      <li>No item history.</li>
      {{/if}}
      </ul>
</div> 
<br>

<form action="/item/{{itemInfo._id}}" id="item_comment_form" method="POST">
  <input type="text" id="comment" name="comment" placeholder="...">
  <input type="submit" class="currentItemButtons" value="Comment">
</form>


 <p id="comment-error" class="error-left" {{#if i}}{{else}}hidden{{/if}}> {{comment_error}}</p>
  <p>Comments: </p>
    <div class="comments">
    <ul>
      {{#if itemInfo.comments}}
       {{#each itemInfo.comments}}
       <li>{{this.userName}}: {{this.comment}}</li>
       {{/each}}
       {{else}}
        <li>No comments.</li>
        {{/if}}
        </ul>
    </div> 
     <script src="/public/js/item_validate.js"></script>

</div>
</div>