<body>
  <h1>{{itemInfo.name}}</h1>

  <main>
    Other Stuff <br>
    {{itemInfo.owner}}<br>
    {{itemInfo.description}}<br>
    {{itemInfo.history}}<br>
    {{itemInfo.requests}}<br>
    {{itemInfo.comments}}<br>
  </main>
</body>