{{#each outgoingRequests}}
  <table>
    <tr>
      <th>Item Name</th>
      <td>{{this.itemName}}</td>
    </tr>
    <tr>
      <th>Status</th>
      <td>{{this.Status}}</td>
    </tr>
    <tr>
      <th>Lender</th>
      <td>{{this.LenderName}}</td> 
    </tr>
    <tr>
      <th>Borrower</th>
      <td>{{this.BorrowerName}}</td>
    </tr>
    <tr>
      <th>Requested On</th>
      <td>{{this.Date}}</td>
    </tr>
    <tr>
      <th>Borrower Description</th>
      <td>{{this.BorrowerDescription}}</td>
    </tr>
  </table>
  <br>
{{/each}}
