<div class="header">
    <h1 class="userPageTitle">{{user.name}}'s Profile</h1>
</div>

<h1 class = 'userSchoolTitle'>Your school: {{user.school}} </h1>

<h2 class = 'karmaTitle'>Current Acquired Karma: {{karma}}</h2>

 <form action="/requests/incomingRequests" method="GET">
         <button type="submit" class="currentItemButtons">Incoming Requests</button>
                </form>
                <br>
 <form action="/requests/outgoingRequests" method="GET">
         <button type="submit" class="currentItemButtons">Outgoing Requests</button>
                </form>
                <br>
<h2 class = 'ownedTitle'>Owned Items</h2>
{{#if ownedItems}}
    <div class="ownedItemsList">
        {{#each ownedItems}}
            <div class="ownedItem">
                <h3>{{this.name}}</h3>
                <p>Owner: {{this.ownerName}}</p>
                <p>Available: {{#if this.availability}}Yes{{else}}No{{/if}}</p>
                <p>Description: {{this.description}}</p>
                <a id = 'itemPageButton' href = '/item/{{this._id}}'>Read More</a>
            </div>
        {{/each}}
    </div>
{{else}}
    {{#if search_error}}
        <p class="error">{{search_error}}</p>
        <a c href = '/items'>Back to All Items</a>
    {{else}}
        <p class='noItems'>You currently do not have any items listed.</p>
    {{/if}}
{{/if}}

<h2 class = 'loanTitle'>Currently Loaned Items</h2>
{{#if loanedItems}}
    <div class="loanedItemsList">
        {{#each loanedItems}}
            <div class="loanedItem">
                 <h3>{{item.name}}</h3>
                <p>Owner: {{item.ownerName}}</p>
                <p>Description: {{item.description}}</p>
                <a id = 'loanedPageButton' href = '/request/{{requestID}}'>Complete Request</a>
            </div>
        {{/each}}
    </div>
{{else}}
    {{#if search_error}}
       <p class="error">{{search_error}}</p>
        <a class="pageButton" href = '/items'>Back to All Items</a>
    {{else}}
        <p class='noItems'>You are not currently loaning any items.</p>
    {{/if}}
{{/if}}

<h2 class = 'borrowTitle'>Borrowed Items</h2>
{{#if borrowedItems}}
    <div class="borrowedItemsList">
        {{#each borrowedItems}}
            <div class="borrowedItem">
                <h3>{{this.name}}</h3>
                <p>Owner: {{this.ownerName}}</p>
                <p>Description: {{this.description}}</p>
                <a id = 'itemPageButton' href = '/item/{{this._id}}'>Read More</a>
            </div>
        {{/each}}
    </div>
{{else}}
    {{#if search_error}}
        p class="error">{{search_error}}</p>
        <a class="pageButton" href = '/items'>Back to All Items</a>
    {{else}}
        <p class='noItems'>You are not currently borrowing any items.</p>
    {{/if}}
{{/if}}

